/* css styles */
.people {
    align-items: flex-end;
    display: table-cell;
    flex-direction: row;
    padding-left: 1px;
    padding-right: 1px;
}


.people img {
    position: relative;
    bottom: 0 !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: bottom;
}

.people p:has(img) {
    height: 100%;
    vertical-align: bottom;
    display: inline;
}
